<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="teacher/fragments/tagHeader :: tagHeader" />
<body>
    <div th:replace="teacher/fragments/menu"></div>
    <div class="container">
        <div class="page-header">
            <h2>Añadir nota a tarea | <span style="color:darkgrey" th:text="${task.taskName}">Tarea</span></h2>
            <h3><span th:text="${student.firstName}">Juan</span>
                 <span th:text="${student.lastName}">Lopez</span></h3>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <form th:action="@{/teacher/course/addTaskGrade/}" method="post">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                <input type="hidden" name="student" th:value="${student.studentId}" />
                <input type="hidden" name="task" th:value="${task.taskId}" />
                <div class="form-group">
                    <label> Nota: </label>
                    <select class="form-control" type="text" name="grade">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </div>
                <div class="form-group">
                        <label> Observación: </label>
                        <input type="text" name="observation" class="form-control"/>
                    </div>
                    <input type="submit" value="Añadir nota" class="btn btn-primary"/>
                    <a th:href="@{/teacher/course/taskGrade/}+${task.taskId}" class="btn btn-default">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
    <script src="/js/jquery-1.11.3.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>