<!DOCTYPE html>

<div id="modalAddAttendance" th:fragment="modalAddAttendance">
    <!-- Modal -->
    <div class="modal fade" id="addTaskModal" tabindex="-1" role="dialog" aria-labelledby="addTaskModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="addTaskModalLabel">Añadir falta a
                        <span th:text="${studentAttendance.student.lastName}"></span>
                        <span th:text="${studentAttendance.student.firstName}"></span>
                    </h3>
                </div>
                <div class="modal-body">
                    <form th:action="@{/teacher/course/addAttendance/} + ${groupSubjectId}"
                          th:object="${AddAttendanceForm}" method="post">
                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                        <div class="form-group">
                            <input type="hidden" name="student" th:value="${studentAttendance.student.studentId}" />
                        </div>
                        <div class="form-group">
                            <input type="hidden" name="subject" th:value="${subject.subjectId}" />
                        </div>
                        <div class="form-group">
                            <input type="hidden" name="classGroup" th:value="${classGroup}" />
                        </div>
                        <div class="form-group">
                            <label>Tipo de falta:</label>
                            <select class="form-control" id="faultType" name="classGroup">
                                <select class="form-control" type="text" name="courseLevel">
                                    <option value="ATTENDANCE">Falta de asistencia</option>
                                    <option value="PUNCTUALITY">Falta de puntualidad</option>
                                </select>
                            </select>
                        </div>
                        <input type="submit" value="Añadir falta" class="btn btn-danger"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
</div>