<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="admin/fragments/tagHeader :: tagHeader" />
<body>
    <div th:replace="teacher/fragments/menu"></div>
    <div class="container">
        <div class="page-header">
            <h2>Mi horario</h2>
        </div>
        <table class="table table-striped table-hover table-bordered">
            <tr>
                <th>Día</th>
                <th>Hora</th>
                <th>Asignatura</th>
                <th>Grupo</th>
            </tr>
            <tr th:each="viewTeacherSchedule : ${teacherScheduleList}">
                <td>
                    <span th:if="${viewTeacherSchedule.weekDay.toString() == 'MONDAY'}">Lunes</span>
                    <span th:if="${viewTeacherSchedule.weekDay.toString() == 'TUESDAY'}">Martes</span>
                    <span th:if="${viewTeacherSchedule.weekDay.toString() == 'WEDNESDAY'}">Miércoles</span>
                    <span th:if="${viewTeacherSchedule.weekDay.toString() == 'THURSDAY'}">Jueves</span>
                    <span th:if="${viewTeacherSchedule.weekDay.toString() == 'FRIDAY'}">Viernes</span>
                </td>
                <td>
                    <span th:text="${viewTeacherSchedule.classStart}">10:30</span>
                </td>
                <td>
                    <b><span th:text="${viewTeacherSchedule.subjectName}">Matemáticas</span></b>
                </td>
                <td>
                    <span th:text="${viewTeacherSchedule.classGroupName}">1º ESO A</span>
                </td>
            </tr>
        </table>
        <br/>
        <br/>
        <a th:href="@{/}" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-home"></span></a>
    </div>
    <footer th:include="teacher/fragments/footer :: footer" />
</body>
</html>