<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="admin/fragments/tagHeader :: tagHeader" />
<body>
    <div th:replace="admin/fragments/menu"></div>
    <div class="container">
        <div class="page-header">
            <h2>Asignaturas-grupo |
                <span style="color:dimgrey">
                <span th:text="${classGroup.classGroupName}" />
            </span></h2>
        </div>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
            <span class="glyphicon glyphicon-plus-sign"></span> Añadir asignatura
        </button>
        <br/>
        <br/>
        <table class="table table-striped table-hover table-bordered">
            <tr>
                <th>Asignatura</th>
                <th>Profesor</th>
            </tr>
            <tr th:each="groupSubject : ${GroupSubjectList}">
                <td><span th:text="${groupSubject.subject.subjectName}">subject name</span></td>
                <td><span th:text="${groupSubject.teacher.lastName}">teacher name</span></td>
                <td>
                    <a th:href="@{/admin/course/groupSubjectEdit/} + ${groupSubject.groupSubjectId}" class="btn btn-default btn-xs">
                        Editar</a>
                    <a th:href="@{/admin/course/deleteGroupSubject/} + ${groupSubject.groupSubjectId}" class="btn btn-danger btn-xs">
                    Eliminar</a>
                </td>
            </tr>
        </table>
        <br/>
        <br/>
        <a th:href="@{/admin/course/selectGroupSubjectList}" class="btn btn-default">Seleccionar otro grupo</a>
        <a th:href="@{/}" class="btn btn-default"><span class="glyphicon glyphicon-home"></span></a>
        <div th:include="admin/course/modalAddGroupSubject :: modalAddGroupSubject"></div>
    </div>
    <script src="/js/jquery-1.11.3.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/validator.js"></script>
</body>
</html>