<!DOCTYPE html>

<div id="modalAddSchoolYear" th:fragment="modalAddSchoolYear">
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="myModalLabel">Crear un nuevo año escolar</h3>
                </div>
                <div class="modal-body">
                    <form th:action="@{/admin/course/createSchoolYearForm}" method="post" data-toggle="validator">
                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                        <div class="form-group">
                            <label> Nombre del año escolar : </label>
                            <input type="text" name="schoolYearName" class="form-control" required="true"/>
                        </div>
                        <input type="submit" value="Crear año escolar" class="btn btn-primary"/>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
</div>