<!DOCTYPE html>
<div id="modalAddSubject" th:fragment="modalAddSubject">
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="myModalLabel">Crear asignatura</h3>
                </div>
                <div class="modal-body">
                    <form th:action="@{/admin/course/createSubject}" method="post" data-toggle="validator">
                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                        <div class="form-group">
                            <label> Nombre asignatura : </label>
                            <input type="text" name="subjectName" class="form-control" required="true"/>
                        </div>
                        <div class="form-group" >
                            <label> Curso : </label>
                            <select class="form-control" id="courseList" name="course">
                                <option th:each="course : ${courseList}" th:value="${course.courseId}"
                                        th:text="${course.courseName}" />
                            </select>
                            <br/>
                        </div>
                        <div class="form-group">
                            <label> Código asignatura (Xade): </label>
                            <input type="text" name="codigoMateriaAvaliable" class="form-control"/>
                        </div>
                        <input type="submit" value="Crear asignatura" class="btn btn-primary"/>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>