<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="admin/fragments/tagHeader :: tagHeader" />
<body>
    <div th:replace="admin/fragments/menu"></div>
    <div class="container">
        <div class="page-header">
            <h2>Horarios</h2>
        </div>
        <h3>Selecciona el grupo del que desees ver el horario:</h3>
        <table class="table table-striped table-hover table-bordered">
            <tr>
                <th>Nombre del grupo</th>
                <th>Curso</th>
                <th>Tutor</th>
                <th>Año escolar</th>
            </tr>
            <tr th:each="classGroup : ${classGroupList}">
                <td><a th:href="@{/admin/course/schedule/} + ${classGroup.classGroupId}">
                    <span th:text="${classGroup.classGroupName}">Grupo</span></a>
                </td>
                <td><span th:text="${classGroup.course.courseName}">Curso</span></td>
                <td><span th:text="${classGroup.tutor.lastName}+', '+${classGroup.tutor.firstName}">Tutor</span></td>
                <td><span th:text="${classGroup.schoolYear.schoolYearName}">Tutor</span></td>
            </tr>
        </table>
        <nav>
            <ul class="pager">
                <li th:if="!${previousPage == -1}" class="previous"><a th:href="@{scheduleGroup?page=} + ${previousPage}">
                    <span aria-hidden="true">&larr;</span> Anterior</a></li>
                <li th:if="!${nextPage == -1}" class="next"><a th:href="@{scheduleGroup?page=} + ${nextPage}">
                    Siguiente <span aria-hidden="true">&rarr;</span></a></li>
            </ul>
        </nav>
        <br/>
        <a th:href="@{/}" class="btn btn-default"><span class="glyphicon glyphicon-home"></span></a>
    </div>
    <footer th:include="admin/fragments/footer :: footer" />
</body>
</html>