<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="admin/fragments/tagHeader :: tagHeader" />
<body>
    <div th:replace="admin/fragments/menu"></div>
    <div class="container">
        <h1 th:text="'Cambiar contraseña: '+ ${user.firstName}+' '+${user.lastName}">Detalle usuario</h1>
        <br/>
        <br/>
        <form th:action="@{/admin/user/password/} + ${user.userId}" method="post"
              data-toggle="validator">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            <p><label> Nueva contraseña : </label>
                <input type="password" class="form-control" name="password" required="true"/></p>
            <br/>
            <input type="submit" value="Cambiar contraseña" class="btn btn-danger"/>
            <a th:href="@{/admin/user/list}" class="btn btn-default">Cancelar</a>
        </form>
    </div>
    <footer th:include="admin/fragments/footer :: footer" />
</body>
</html>