<!DOCTYPE html>
<head id="tagHeader" th:fragment="tagHeader">
    <title>Taboleiro</title>
    <meta name="viewport" contect="width=device-width, initial-scale=1.0" />
    <link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link href="../static/css/bootstrap-datepicker.min.css" th:href="@{/css/bootstrap-datepicker.min.css}" rel="stylesheet" />
    <link href="../static/css/bootstrap-datepicker3.min.css" th:href="@{/css/bootstrap-datepicker3.min.css}" rel="stylesheet" />
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" media="screen" />
</head>